:root {
    --color-dark: #151515;
    --color-gray: #d9d9d9;
    --color-light: #ffffff;
    --color-gray-dark: #242424;
    --color-primary: #4EE1A0;
    --font-body: 'Space Grotesk Medium' 18px 28px Line;
    --font-heading-XL: 'Space Grotesk Bold' 88px 88px Line -2.5 Char.Spacing;
    --font-heading-L:
    --font-heading-M:

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}